# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать директорию с виртуальной средой Python
venv/

# Игнорировать файлы и директории, созданные IDE (например, PyCharm)
.idea/
.vscode/

# Игнорировать файлы с настройками и кэшем
*.log
*.cache
